
{% include 'head.html.twig' %}
<div class="ui grid container">
<div class="row"></div>
<div class="row">
<h1> Edit document </h1>
	
</div>
<div class="ui ten wide column centered">
	

<form class="ui form" action="editrecord/{{doi}}" method="post" enctype="multipart/form-data" >


<div class="row"></div>
  <div class="required field">
      <label>Creation date</label>
  <input type="text" class="date" name="creation_date" value="{{creation_date}}" placeholder="Creation date" required="">
  </div>
   <div class="field">

    <label>Sample kind</label>
    <input type="text" name="sample_kind" placeholder="Sample kind" value="{{sample_kind}}">
  </div>
     <div class="field">

    <label>Sampling date</label>
    <input type="text"  class="date" name="sampling_date" placeholder="Sampling date" value="{{sampling_date}}">
  </div>
  <div class="required field">

    <label>Title</label>
    <input type="text" name="title" placeholder="Title" value="{{title}}" required="">
  </div>
<div class="required field">
    <label>Language</label>
    {% if language == "ENGLISH" %}
       <select class="ui dropdown" name="language">
      	  <option value="1">ENGLISH</option>
          <option value="0">FRENCH</option>
       </select>
    {% else %}
     <select class="ui dropdown" name="language">
      <option value="0">FRENCH</option>
      <option value="1">ENGLISH</option>
      </select>
    {% endif %}

  </div>  
  <div class="required field">
    <label>Authors</label>
    {% for author in authors %}
   <div class="required field" id="items">
   <div>
	 <div><input type="text" value="{{author.FIRST_NAME}}" name="authors-firstname[]" placeholder="First Name" required=""></div>
	 <div><input type="text" value="{{author.NAME}}" name="authors-name[]" placeholder="Family Name, Given names" required=""></div>
	 <div><input type="email" name="authors-email[]" value="{{author.MAIL}}" placeholder="Email" required></div>
   <button class="ui icon button delete"><i class="remove icon"></i></button>
   </div>
   </div>
   {% endfor %}
  <input type="button" class="ui button active" id="addauthors" value="Add a new authors"></input>

  </div>
  <div class=" field">
      <label>Institution</label>
  <div class=" field" id="institution">
    {% for institution in institutions %}
     <div><input type="text" name="institution[]" value="{{institution.NAME}}" placeholder="Institution"><button class="ui icon button delete"><i class="remove icon"></i></button></div>
     {% endfor %}
  </div>
    <input type="button" class="ui button active" id="addinstitution" value="Add a new institution"></input>

</div>
  <div class=" field">
    <label>Keywords</label>
<div class=" field" id="keywords">
  {% for keyword in keywords %}
	 <div><input type="text" name="keywords[]" value="{{keyword.NAME}}" placeholder="Keyword"><button class="ui icon button delete"><i class="remove icon"></i></button></div>
   {% endfor %}

</div>
     <input type="button" class="ui button active" id="addkeywords" value="Add a new keyword"></input>
  </div>
   <div class="required field">
    <label>Description</label>
    <textarea name="description" required="">{{description}}</textarea>
  </div>
   <div class="required field">
    <label>Scientific field</label>
    <input type="text" name="scientific_field" value="{{scientific_field}}" placeholder="Scientific field" required=""></input>
  </div>


 <div class="field" >
  <label>Station</label>
      <div id="stations">
        {% for station in stations %}
          <div>
        <div> <input type="text" value="{{station.NAME}}" name="station_name[]" placeholder="Name" ></input></div>
        <div><input type="text" value="{{station.ABBREVIATION}}" name="station_abbreviation[]"  placeholder="abbreviation"></input></div>
        <div><input type="text" value="{{station.LONGITUDE}}" name="station_longitude[]" placeholder="longitude" ></input></div>
        <div><input type="text" value="{{station.LATITUDE}}" name="station_latitude[]"  placeholder="latitude"></input></div>
        <div><input type="text" value="{{station.ELEVATION}}" name="station_elevation[]"  placeholder="elevation"></input></div>
        <div><textarea name="station_description[]"  placeholder="description">{{station.DESCRIPTION}}</textarea></div>
        <button class="ui icon button delete"><i class="remove icon"></i></button>
          </div>
        {% endfor %}
  </div>
  <input type="button" class="ui button active" id="addstation" value="Add a new station"></input>
  </div>



  <div class="required field" >
    <label>Measurement</label>
    <div id="measurements">
    {% for measurement in measurements %}
    <div>
    <div><input type="text" value="{{measurement.NATURE}}" name="measurement_nature[]" placeholder="Nature" required="" ></input></div>
    <div><input type="text" value="{{measurement.ABBREVIATION}}" name="measurement_abbreviation[]"  placeholder="Abbreviation" required=""></div></input>
    <div><input type="text" value="{{measurement.UNIT}}" name="measurement_unit[]" placeholder="Unit" required=""></input></div>
    <button class="ui icon button delete"><i class="remove icon"></i></button>
    </div>
    {% endfor %}
    </div>
    <input type="button" class="ui button active" id="addmeasurement" value="Add a new measurement"></input>
  </div>


   <div class="required field">
      <label>License</label>
       <select class="ui dropdown" name="license">
	  <option value="0">Creative Commons Attribution-NonCommercial 4.0</option>
	  <option value="1">Creative Commons Attribution-NonCommercial 4.0</option>
</select>
  </div>
  <div class="ui form">
  <div class="inline fields">
  <div class="field">
  <div class="ui radio checkbox">
  	<input type="radio"  onclick="APP.modules.upload.checkformbutton()" name="access_right" id="open" value="Open"> 
  	<label>Open</label>
  	</div>
  	</div>
  	<div class="field">
  <div class="ui radio checkbox">
    <input type="radio"  onclick="APP.modules.upload.checkformbutton()" name="access_right" id="closed" value="Closed" checked> 
    <label>Closed</label>
    </div>
    </div>
    <div class="field">
 <div class="ui radio checkbox">
	<input type="radio" onclick="APP.modules.upload.checkformbutton()" name="access_right" id="embargoed" value="Embargoed">
	 <label>Embargoed</label>
  </div>
  </div>
  <input type="text" class="date" name="publication_date" id="date_end">
  </div>
  </div>
   


<button class="ui button" type="submit">Submit</button>
</form>
</form>
         

</div>

{% include 'footer.html.twig' %}
