{% include 'head.html.twig' %}


<div class="ui internally celled grid">
  <div class="row">
  <div class="ui ten wide column ">
  <h1> {{title}}</h1>
    <div class="content">
            {% if accessright == "Closed" %}
              <div class="ui red label" >{{accessright}}</div>
            {% elseif accessright == "Embargoed" %}
              <div class="ui orange label" data-tooltip="Available as Open Access after {{publicationdate}}">{{accessright}}</div>
            {% elseif accessright == "Open" %}
              <div class="ui green label" >{{accessright}}</div>
            {% elseif accessright == "Unpublished" %}
              <div class="ui grey label" >{{accessright}}</div>
            {% endif %}
          


            <div class="ui blue label">{{creationdate}}</div>
             <div class="ui blue label">DOI : {{doi}}</div>
          
            <div class="row">
            
          <div class="meta"><h4>Description:</h4>
          <span class="data">{{datadescription}}</span>
          </div><div class="row"></div><h4><i class="user icon"></i>Authors:</h4>

      <ul id="authors">
          {% for author in authors %}
              <li><a onclick="APP.modules.send_email.send_email('{{doi}}','{{author.NAME}}','{{ author.FIRST_NAME}}')">{{author.NAME}} {{ author.FIRST_NAME}}</a></li>
          {% endfor %}
      </ul>
  {%for author in authors%}
  {% if author.MAIL == mail %}
  {% if accessright == "Unpublished" %}
    <a href="remove/{{doi}}"><div class="ui right floated red button" >Remove  <i class="remove icon"></i></div></a>
  {% endif %}
  <a href="editrecord?id={{doi}}"><div class="ui right floated primary button" >Edit<i class="right chevron icon"></i></div></a>
  {%endif%}
  {%endfor%}
  <p>Uploaded on {{uploaddate}}</p>
  


<div class="ui container cards">
  <div class="ui fluid card"> 
    <div class="content files">
      <div class="header ">Files</div>
      {% if accessright == "Closed" or accessright == "Unpublished" %}
        {% if files == NULL %}
         <div class="ui red message">Data are not available</div>
         {% else %}
          <div class="ui list">
       {% for filename in files %}
          <div class="item">
            <div class="content">
            <i class="file icon"></i>
              <a href="files/{{doi}}/{{filename.DATA_URL}}">{{filename.DATA_URL}}</a><a href="files/{{doi}}/{{filename.DATA_URL}}"><input value="Download" type="button" class="ui right floated button" ></input></a><input value="Preview" onclick="APP.modules.preview.previewdocument('preview/{{doi}}/{{filename.DATA_URL}}')" type="button" class="ui right floated button" ></input>
            </div>
          </div>
      {% endfor %}
      </div>
        {% endif %}
      {% elseif accessright == "Embargoed" %}
        {% if files == NULL %}
         <div class="ui red message">Data are not available</div>
         {% else %}
          <div class="ui list">
       {% for filename in files %}
          <div class="item">
            <i class="file icon"></i>
            <div class="content">
            <div class="header"><a href="files/{{doi}}/{{filename.DATA_URL}}">{{filename.DATA_URL}}</a><a href="files/{{doi}}/{{filename.DATA_URL}}"><input value="Download" type="button" class="ui button" ></input></a><input value="Preview"onclick="APP.modules.preview.previewdocument('preview/{{doi}}/{{filename.DATA_URL}}')" type="button" class="ui right floated button" ></input></div>            
            </div>
          </div>
      {% endfor %}
      </div>
        {% endif %}     
      {% elseif accessright == "Open" %}
      <div class="ui list">
       {% for filename in files %}
          <div class="item">
            <i class="file icon"></i>
            <div class="content">
              <div class="header"><a href="files/{{doi}}/{{filename.DATA_URL}}">{{filename.DATA_URL}}</a><a href="files/{{doi}}/{{filename.DATA_URL}}"><input value="Download" type="button" class="ui button" ></input></a><input value="Preview" onclick="APP.modules.preview.previewdocument('preview/{{doi}}/{{filename.DATA_URL}}')" type="button" class="ui right floated button" ></input></div>
            </div>
          </div>
      {% endfor %}
      </div>
      {% endif %}
 
      </div>
    </div>
  
<div class="ui fluid card">
    <div class="content">
      <div class="header">Sampling points</div>
      {% if sampling_points %}
      <table class="ui inverted green table">
      <thead>
      <tr><th>Name</th>
      <th>Abbreviation</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Elevation</th>
      <th>Description</th>
    </tr></thead><tbody>
      {% for sampling_point in sampling_points %}
      <tr>
      <td>{{sampling_point.NAME}}</td>
      <td>{{sampling_point.ABBREVIATION}}</td>
      <td>{{sampling_point.LONGITUDE}}</td>
      <td>{{sampling_point.LATITUDE}}</td>
      <td>{{sampling_point.ELEVATION}}</td>
      <td>{{sampling_point.DESCRIPTION}}</td>
      </tr>
      {% endfor %}
      </tr>
      </tbody>
      </table>
      {% else %}
      <p>No data to show </p>
      {%endif%}
      </div>
    </div>

    <div class="ui fluid card">
    <div class="content">
      <div class="header">Measurements</div>
      {% if measurements %}
      <table class="ui inverted blue table">
      <thead>
      <tr><th>Nature</th>
      <th>Abbreviation</th>
      <th>Unit</th>
      </tr></thead><tbody>
      {% for measurement in measurements %}
      <tr>
      <td>{{measurement.NATURE}}</td>
      <td>{{measurement.ABBREVIATION}}</td>
      <td>{{measurement.UNIT}}</td>
      </tr>
      {% endfor %}
      </tr>
      </tbody>
      </table>
      {% else %}
      <p>No data to show </p>
      {% endif %}
      </div>
    </div>
</div>
</div>
</div>
</div>


    <div class="ui six wide column ">
    <div class="row">
    <div class="ui fluid card">
        <div class="content">
          <div class="header">About this dataset</div>
          <div class="description">
          {%if language %}
           <h2 class="ui sub header">Language:</h2> <span>{{language}}</span>
          {%endif%}
          
            {% if license == "Creative commons Attribution alone" %}
              <h2 class="ui sub header">License:</h2> <span>{{license}}  <img class='ui tiny image' src='img/license/ccby.png'></span>
            {%endif%}
            {% if license == "Creative commons Attribution + ShareAlike" %}
              <h2 class="ui sub header">License:</h2> <span>{{license}}  <img class='ui tiny image' src='img/license/ccby-sa.png'></span>
            {%endif%}
            {% if license == "Creative commons Attribution + Noncommercial" %}
              <h2 class="ui sub header">License:</h2> <span>{{license}}  <img class='ui tiny image' src='img/license/ccby-nc.png'></span>
            {%endif%}
            {% if license == "Creative commons Attribution + NoDerivatives" %}
              <h2 class="ui sub header">License:</h2> <span>{{license}}  <img class='ui tiny image' src='img/license/ccby-nd.png'></span>
            {%endif%}
            {% if license == "Creative commons Attribution + Noncommercial + ShareAlike" %}
              <h2 class="ui sub header">License:</h2> <span>{{license}}  <img class='ui tiny image' src='img/license/ccby-nc-sa.png'></span>
            {%endif%}
            {% if license == "Creative commons Attribution + Noncommercial + NoDerivatives" %}
              <h2 class="ui sub header">License:</h2> <span>{{license}}  <img class='ui tiny image' src='img/license/ccby-nc-nd.png'></span>
            {%endif%}
         

          {%if institutions %}
           <h2 class="ui sub header">Institutions:</h2>
           <ul>
            {%for field in institutions%}
              <li>{{field.NAME}}</li>
            {%endfor%}
            </ul>
          {%endif%}

           {%if scientific_field %}
           <h2 class="ui sub header">Scientific fields:</h2>
           <ul>
            {%for field in scientific_field%}
              <li>{{field.NAME}}</li>
            {%endfor%}
            </ul>
          {%endif%}

          {%if keywords%}
           <h2 class="ui sub header">Keywords:</h2>
           <ul>
            {%for keyword in keywords%}
              <li>{{keyword.NAME}}</li>
            {%endfor%}
            </ul>
          {%endif%}
           {%if sample_kinds %}
           <h2 class="ui sub header">Sample kind:</h2>
           <ul>
            {%for sample_kind in sample_kinds%}
              <li>{{sample_kind.NAME}}</li>
            {%endfor%}
            </ul>
          {%endif%}

          {%if sampling_date%}
           <h2 class="ui sub header">Sampling date:</h2>
           <ul>
            {%for sample in sampling_date%}
              <li>{{sample}}</li>
            {%endfor%}
            </ul>
          {%endif%}



          </div>
          </div>



        </div>
        <div class="ui modal preview">
            <i class="close icon"></i>
            <div class="header">
            Preview
            </div>
            <div id="preview" >
            </div>
        <div class="actions">
          <div class="ui black deny button">
            Close
          </div>
        </div>
      </div>



      <div class="ui fluid card">
        <div class="content">
          <div class="header">Export</div>
          </div>
        </div>

        </div>
      </div>

  </div>
</div>
    </div>
    </div>
    

</div>
 

{% include 'contact_author.html.twig' %}
{% include 'footer.html.twig' %}

      
