{% include 'head.html.twig' %}
<div class="ui stackable celled grid">
   <div class="row">
    <div class="ui six wide column " id="about">
         <div class="row">
            <div class="ui fluid card">
               <div class="row"></div>
               <div class=" ui horizontal divider header"> <i class="tag icon"></i>About this dataset</div>
               <div class="content">
                   <div class=" ui two column grid">
                  <div class="column">
                 {% if (SOCIAL_SHARING == true) %}
                 {% if accessright == "Closed" or accessright == "Open" or accessright == "Embargoed" %}
                   <div id="social" class="left floated column">
                   <h4><i class="share alternate icon"></i>Share</h4>
                   <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{REPOSITORY_URL}}/record?id={{doi}}&amp;src=sdkpreparse&quote={{title|raw}}">
                   <button class="ui circular facebook icon button">
                    <i class="facebook icon"></i>
                  </button></a>
                     <a target="_blank" href="https://twitter.com/intent/tweet/?url={{REPOSITORY_URL}}/record?id={{doi}}&text={{title|raw}} on &button_hashtag={{REPOSITORY_NAME}}">
                     <button class="ui circular twitter icon button">
                       <i class="twitter icon"></i>
                     </button></a>
                     <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{REPOSITORY_URL}}/record?id={{doi}}&title={{title|raw}}&summary=i found this dataset&source={{REPOSITORY_NAME}}">
                     <button class="ui circular linkedin icon button">
                       <i class="linkedin icon"></i>
                     </button></a>
                  </div>
                  {%endif%}
                  {%endif%}

                  </div>
               <div class="column   ">
               <div class="ui grey label right floated "  data-position="left center" data-tooltip="Last modification of metadata">{{metadatadate}}</div>
               </div>
                  </div>
                  {%if institutions %}
                  <h3 class="ui  header">Institutions:</h3>
                  <ul>
                     {%for field in institutions%}
                     <li>{{field.NAME|raw}}</li>
                     {%endfor%}
                  </ul>
                  {%endif%}
                   {%if fundings %}
                  <h3 class="ui  header">Fundings:</h3>
                  <ul>
                     {%for field in fundings%}
                     <li>{{field.NAME|raw}}</li>
                     {%endfor%}
                  </ul>
                  {%endif%}
                  {%if scientific_field[0].NAME!="" %}
                  <h3 class="ui header">Scientific fields:</h3>
                  <ul>
                     {%for field in scientific_field%}
                     <li>{{field.NAME|raw}}</li>
                     {%endfor%}
                  </ul>
                  {%endif%}
                  {%if keywords%}
                  <h3 class="ui header">Keywords:</h3>
                  <ul>
                     {%for keyword in keywords%}
                     <li>{{keyword.NAME|raw}}</li>
                     {%endfor%}
                  </ul>
                  {%endif%}
                  {%if language %}
                  <h3 class="ui  header">Language:</h3>
                  <span>{{language}}</span>
                  {%endif%}
                  {%if sample_kinds %}
                  <h3 class="ui header">Sample kind:</h3>
                  <ul>
                     {%for sample_kind in sample_kinds%}
                     <li>{{sample_kind.NAME|raw}}</li>
                     {%endfor%}
                  </ul>
                  {%endif%}
                  {%if sampling_date%}
                  <h3 class="ui header">Sampling date:</h3>
                  <ul>
                     {%for sample in sampling_date%}
                     <li>{{sample|raw}}</li>
                     {%endfor%}
                  </ul>
                  {%endif%}
                  {% if license == "Creative commons Attribution alone" %}
                  <h3 class="ui  header">License:</h3>
                  <img class='ui tiny floated left image' alt="ccby" src='img/license/ccby.png'> <span>{{license}}  </span>
                  {%endif%}
                  {% if license == "Creative commons Attribution + ShareAlike" %}
                  <h3 class="ui  header">License:</h3>
                  <span>{{license}}  <img class='ui tiny floated left  image' alt="ccby-sa" src='img/license/ccby-sa.png'></span>
                  {%endif%}
                  {% if license == "Creative commons Attribution + Noncommercial" %}
                  <h3 class="ui  header">License:</h3>
                  <span>{{license}}  <img class='ui tiny floated left  image' alt="ccby-nc" src='img/license/ccby-nc.png'></span>
                  {%endif%}
                  {% if license == "Creative commons Attribution + NoDerivatives" %}
                  <h3 class="ui  header">License:</h3>
                  <span>{{license}}  <img class='ui tiny floated left image' alt="ccby-nd" src='img/license/ccby-nd.png'></span>
                  {%endif%}
                  {% if license == "Creative commons Attribution + Noncommercial + ShareAlike" %}
                  <h3 class="ui  header">License:</h3>
                  <span>{{license}}  <img class='ui tiny floated left image' alt="ccby-nc-sa" src='img/license/ccby-nc-sa.png'></span>
                  {%endif%}
                  {% if license == "Creative commons Attribution + Noncommercial + NoDerivatives" %}
                  <h3 class="ui  header">License:</h3>
                  <span>{{license}}  <img class='ui tiny floated left image' alt="ccby-nc-nd" src='img/license/ccby-nc-nd.png'></span>
                  {%endif%}
                  {%if publisher %}
                     <h3 class="ui  header">Publisher:</h3>
                     <p>{{publisher}}</p>
                  {%endif%}
               {%if supplementary_fields %}
                <div class="ui fluid styled accordion">
                 <div class=" title">
                         <label>Supplementary fields</i>
                         <i class="dropdown icon"></i></label>
                 </div>
                 <div class="content">
               {%for key,item in supplementary_fields|reverse%}
               {%if "REFERENT" not in key and "OPERATOR" not in key%}
               <h4 class="ui  header">{{key}}:</h4>
               <p>{{item}}</p>
               {%endif%}
               {%endfor%}
               {%for key,item in supplementary_fields|reverse%}
               {%if "REFERENT" in key%}
               <h4 class="ui  header">{{key}}:</h4>
               <p>{{item}}</p>
               {%endif%}
               {%endfor%}
               {%for key,item in supplementary_fields|reverse%}
               {%if "OPERATOR"  in key%}
               <h4 class="ui  header">{{key}}:</h4>
               <p>{{item}}</p>
               {%endif%}
               {%endfor%}
               </div>
               </div>
               {%endif%}
               </div>
            </div>
            <div class="ui modal preview">
               <i class="close icon"></i>
               <div class="header">
                  Preview
               </div>
               <div id="preview" >
               </div>
               <div class="actions">
                  <div class="ui black deny button">
                     Close
                  </div>
               </div>
            </div>
             <div class="ui modal changelog">
               <i class="close icon"></i>
               <div class="header">
                  Changelog
               </div>
               <div class="content" id="changelog" >
                  <div class="ui grid ten column centered "  style='overflow-x:auto;height:500px'>
                     <div class="ui ten wide column " ></div>
                  </div>
               </div>
               <div class="actions">
                  <div class="ui black deny button">
                     Close
                  </div>
               </div>
            </div>
            <div class="ui fluid card">
               <div class="content">
                  <div class="header">Export</div>
                  <div class="ui four column  stackable grid container">
                     <div class="row"></div>
                     <a class="column" href="export/datacite?id={{doi}}" target="_blank"  ><div class="ui button">DataCite</div></a>
                      <a class="column" href="export/json?id={{doi}}" target="_blank"  ><div class="ui button">JSON</div></a>
                      <a class="column" href="export/dublincore?id={{doi}}" target="_blank"  ><div class="ui button">DublinCore</div></a>
                      <a class="column" href="export/bibtex?id={{doi}}" target="_blank"  ><div class="ui button">BibTeX</div></a>
                      <div class="row"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="ui ten wide column ">
         <div>
            <h1>{{title|raw}}</h1>
            <div class="ui stackable container">
               <div id='doi' class="ui labeled right floated mini button" >
                  <div class="ui grey mini button">
                     <i class="barcode icon"></i> DOI
                  </div>
                  {%if accessright=="Draft" %}
                  <a  class="ui basic orange label">
                  {{doi}}
                  </a>
                  {%else%}
                  <a onclick=" $('.ui.modal.doi').modal('show');" class="ui basic orange label">
                  {{doi}}
                  </a>
                  {%endif%}

               </div>
               {% if accessright == "Closed" %}
               <div class="ui red label" >{{accessright}}</div>
               {% elseif accessright == "Embargoed" %}
               <div class="ui orange label" data-tooltip="Available as Open Access after {{publicationdate}}">{{accessright}}</div>
               {% elseif accessright == "Open" %}
               <div class="ui green label" >{{accessright}}</div>
               {% elseif accessright == "Unpublished" %}
               <div class="ui yellow label" >{{accessright}}</div>
                {% elseif accessright == "Draft" %}
               <div class="ui grey label" >{{accessright}}</div>
               {% endif %}
               <div class="ui blue label"  data-tooltip="Creation date">{{creationdate}}</div>
                  <div class="row"></div>

               <div class="row">
               <div class="ui grid">
               <div class="row"></div>
               </div>
                  <div class="ui grid container">
                  <div class="six column row">
                  <div id="description" class="meta">
                     <h4>Description:</h4>
                     <span class="data">{{datadescription|raw}}</span>
                  </div>
              
                  </div>
                  </div>
                  <div class="author">
                  <div class="row"></div>
                  <h4><i class="user icon"></i>Authors:</h4>
                  <ul id="authors">
                     {% for author in authors %}
                     <li><a onclick="APP.modules.send_email.send_email('{{doi}}','{{author.NAME}}','{{ author.FIRST_NAME}}')">{{author.NAME}} {{ author.FIRST_NAME}}</a> 

                     {%if author.ORCID %}<a href="https://orcid.org/{{author.ORCID}}" target="_blank"><img id="orcid-id-logo" src="https://orcid.org/sites/default/files/images/orcid_24x24.png" width='15' height='15' alt="ORCID logo"/></a>
                     {%endif%}
                     </li>
                     {% endfor %}
                  </ul>
                  </div>
                  {%for author in authors%}
                  {% if (author.MAIL == mail and admin!=1) %}
                  {% if (accessright == "Unpublished" or accessright == "Draft" ) %}
                  <a onclick=" $('.ui.modal.remove').modal('show');">
                     <div class="ui right floated red button" >Remove  <i class="remove icon"></i></div>
                  </a>
                  {% endif %}
                  <input value="Changelog" onclick="APP.modules.changelog.previewchangelog('changelog?id={{doi}}')" type="button" class="ui right floated button" >
                              </div>
                  <a href="editrecord?id={{doi}}">
                     <div class="ui right floated primary button" >Edit<i class="right chevron icon"></i></div>
                  </a>
                  {%endif%}
                  {%endfor%}
                  {% if (admin==1) %}
                  <input value="Changelog" onclick="APP.modules.changelog.previewchangelog('changelog?id={{doi}}')" type="button" class="ui right floated button" >
                              </div>
                  <a onclick=" $('.ui.modal.remove').modal('show');">
                     <div class="ui right floated red button" >Remove  <i class="remove icon"></i></div>
                  </a>
                  <a href="editrecord?id={{doi}}">
                     <div class="ui right floated primary button" >Edit<i class="right chevron icon"></i></div>
                  </a>
                  {%endif%}
                  <p id="uploadeddate">Uploaded on {{uploaddate}}</p>
                  
                 
               </div>
               <div id="cards">
                  <div class="ui fluid card">
                     <div class="content files">
                        <div class="header "> <i class="file icon"></i>Files</div>
                        {% if accessright == "Closed" or accessright == "Unpublished"%}
                        {% if files == NULL %}
                        <div class="ui red message">Restricted access</div>
                        {% else %}
                        <div class="ui list">
                           <br>
                           {% for filename in files %}
                           <div class="item">
                              <div class="content">
                                 <i class="file icon"></i>
                                  <a href="files/{{id}}/{{filename.DATA_URL}}"><input value="Download" type="button" class="ui right floated button" ></a><input value="Preview" onclick="APP.modules.preview.previewdocument('preview/{{id}}/{{filename.DATA_URL}}')" type="button" class="ui right floated button" >
                                   <a href="files/{{id}}/{{filename.DATA_URL}}">{{filename.DATA_URL}} <sup class="exposant"   title="Number of download"> <i class="download icon"></i>{{filename.download_number}}</sup></a>

                              </div>
                           </div>
                           {% endfor %}
                        </div>
                        {% endif %}
                        {% elseif accessright == "Embargoed" %}
                        {% if files == NULL %}
                        <div class="ui red message">Restricted access</div>
                        {% else %}
                        <div class="ui list">
                           <br>
                           {% for filename in files %}
                           <div class="item">
                              <div class="content">
                              <i class="file icon"></i>
                                 <a href="files/{{id}}/{{filename.DATA_URL}}"><input value="Download" type="button" class="ui right floated button" ></a><input value="Preview"onclick="APP.modules.preview.previewdocument('preview/{{id}}/{{filename.DATA_URL}}')" type="button" class="ui right floated button" >
                                   <a href="files/{{id}}/{{filename.DATA_URL}}">{{filename.DATA_URL}} <sup class="exposant"   title="Number of download"> <i class="download icon"></i>{{filename.download_number}}</sup></a>

                              </div>
                           </div>
                           {% endfor %}
                        </div>
                        {% endif %}  
                        {% elseif accessright == "Draft" %}
                        {% if files == NULL %}
                        <div class="ui red message">No file</div>
                        {% else %}
                        <div class="ui list">
                           {% for filename in files %}
                           <div class="item">
                              <div class="content">
                              <i class="file icon"></i>
                                 <a href="files/{{id}}/{{filename.DATA_URL}}">{{filename.DATA_URL}}</a><a href="files/{{id}}/{{filename.DATA_URL}}"><input value="Download" type="button" class="ui right floated button" ></a><input value="Preview"onclick="APP.modules.preview.previewdocument('preview/{{id}}/{{filename.DATA_URL}}')" type="button" class="ui right floated button" >

                              </div>
                           </div>
                           {% endfor %}
                        </div>
                        {% endif %}   
                        {% elseif accessright == "Open" %}
                        <div class="ui list">
                               <br>
                           {% for filename in files %}
                           <div class="item">        
                              <div class="content">
                              <i class="file icon"></i>
                                
                                 
                                 
                              <a href="files/{{id}}/{{filename.DATA_URL}}"><input value="Download" type="button" class="ui right floated button" ></a><input value="Preview" onclick="APP.modules.preview.previewdocument('preview/{{id}}/{{filename.DATA_URL}}')" type="button" class="ui right floated button" >

                                 <a href="files/{{id}}/{{filename.DATA_URL}}">{{filename.DATA_URL}} <sup class="exposant"   title="Number of download"> <i class="download icon"></i>{{filename.download_number}}</sup></a>
                              </div>
                           </div>
                           {% endfor %}
                        </div>
                        {% endif %}
                     </div>
                  </div>
                  {% if methodology or acronym %}
                   <div class="ui fluid styled accordion">
                     <div class=" title">Methodology<i class="dropdown icon"></i></div>
                     <div class=" content ">
                     {% if methodology %}
                     {%for item in methodology %}
                        {%if item.DESCRIPTION is not empty  %}
                        <h4> - {{item.NAME|raw}}:</h4> <p>{{item.DESCRIPTION|raw}}</p>
                        {%endif%}
                     {%endfor%}
                     {%endif%}
                     {% if acronym %}
                     <table class="ui collapsing table">
                    <thead>
                      <tr>
                        <th>Abbreviation</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                     {%for item in acronym %}
                      <tr>
                        <td>{{item.ABBREVIATION|raw}}</td>
                        <td>{{item.DESCRIPTION|raw}}</td>
                      </tr>
                       
                     {%endfor%}
                    </tbody>
                  </table>
                  {%endif%}
                     </div>
                  
                  <script type="text/javascript">
                                   $('.ui.accordion').accordion();

                  </script>
                  </div>
                  {%endif%}
                  <div class="ui fluid card">
                     <div class="content">
                        <div class="header">Sampling points</div>
                        {% if sampling_points %}
                        <br>
                         <div id="map"></div>
                         <br>
                          <div onclick="$('#DataTables_Table_0_wrapper').toggle();" class="ui button displaytable">Click here to display/hide table</div>
                        <script type="text/javascript">
                           var map = L.map('map').setView([51.505, -0.09], 2);
                           L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
                     var markers = []
                        </script>
                     {% for sampling_point in sampling_points %}
                     <script type="text/javascript">
                     if ('{{sampling_point.COORDINATE_SYSTEM}}'=="rgf93 projection lambert93"|| '{{sampling_point.COORDINATE_SYSTEM}}'.includes("LAMBERT") && '{{sampling_point.COORDINATE_SYSTEM}}'.includes("93")|| '{{sampling_point.COORDINATE_SYSTEM}}'.toLowerCase().includes("lambert") && '{{sampling_point.COORDINATE_SYSTEM}}'.toLowerCase().includes("93")|| '{{sampling_point.COORDINATE_SYSTEM}}'.toLowerCase().includes("lambert93")) {
                        var Lambert93 = "+proj=lcc +lat_1=49 +lat_2=44 +lat_0=46.5 +lon_0=3 +x_0=700000 +y_0=6600000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs "
                        var gps = "+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs";
                        var test =proj4(Lambert93,gps,[{{sampling_point.LONGITUDE}},{{sampling_point.LATITUDE}}]);
                        var marker = L.marker([test[1],test[0]]);
                        marker.bindPopup("Name: {{sampling_point.NAME}} ({{sampling_point.ABBREVIATION}})<br>Longitude: {{sampling_point.LONGITUDE}} <br>                        Latitude: {{sampling_point.LATITUDE}}<br>Elevation: {{sampling_point.ELEVATION}}                           ");
                        marker.on('mouseover', function (e) {
                              this.openPopup();
                          });
                        markers.push(marker);
                     }
                     else if ('{{sampling_point.COORDINATE_SYSTEM}}'=="ntf lambert 2 extend"|| '{{sampling_point.COORDINATE_SYSTEM}}'.toLowerCase().includes("lambert") && '{{sampling_point.COORDINATE_SYSTEM}}'.toLowerCase().includes("2") ) {
                        var Lambert2extend = "+proj=lcc +lat_1=46.8 +lat_0=46.8 +lon_0=0 +k_0=0.99987742 +x_0=600000 +y_0=2200000 +a=6378249.2 +b=6356515 +towgs84=-168,-60,320,0,0,0,0 +pm=paris +units=m +no_defs  "
                        var gps = "+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs";
                        var test =proj4(Lambert2extend,gps,[{{sampling_point.LONGITUDE}},{{sampling_point.LATITUDE}}]);
                        var marker = L.marker([test[1],test[0]]);
                        marker.bindPopup("Name: {{sampling_point.NAME}} ({{sampling_point.ABBREVIATION}})<br>Longitude: {{sampling_point.LONGITUDE}} <br>                        Latitude: {{sampling_point.LATITUDE}}<br>Elevation: {{sampling_point.ELEVATION}}                           ");
                        marker.on('mouseover', function (e) {
                              this.openPopup();
                          });
                        markers.push(marker);
                     }
                       else if ('{{sampling_point.COORDINATE_SYSTEM}}'=="ntf meridian of paris"|| '{{sampling_point.COORDINATE_SYSTEM}}'.toLowerCase().includes("ntf") && '{{sampling_point.COORDINATE_SYSTEM}}'.toLowerCase().includes("paris")) {
                        var NTFParis= "+proj=longlat +a=6378249.2 +b=6356515 +towgs84=-168,-60,320,0,0,0,0 +pm=paris +no_defs ";
                        var test =proj4(NTFParis,gps,[{{sampling_point.LONGITUDE}},{{sampling_point.LATITUDE}}]);
                        var marker = L.marker([test[1],test[0]]);
                        marker.bindPopup("Name: {{sampling_point.NAME}} ({{sampling_point.ABBREVIATION}})<br>Longitude: {{sampling_point.LONGITUDE}} <br>                        Latitude: {{sampling_point.LATITUDE}}<br>Elevation: {{sampling_point.ELEVATION}}                           ");
                        marker.on('mouseover', function (e) {
                              this.openPopup();
                          });
                        markers.push(marker);
                     }
                     else if ('{{sampling_point.COORDINATE_SYSTEM}}'=="ed50 greenwich"|| '{{sampling_point.COORDINATE_SYSTEM}}'.toLowerCase().includes("ed50") && '{{sampling_point.COORDINATE_SYSTEM}}'.toLowerCase().includes("greenwich")) {
                        var ED50= "+proj=longlat +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +no_defs "
                        var gps = "+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs";
                        var test =proj4(ED50,gps,[{{sampling_point.LONGITUDE}},{{sampling_point.LATITUDE}}]);
                        var marker = L.marker([test[1],test[0]]);
                        marker.bindPopup("Name: {{sampling_point.NAME}} ({{sampling_point.ABBREVIATION}})<br>Longitude: {{sampling_point.LONGITUDE}} <br>                        Latitude: {{sampling_point.LATITUDE}}<br>Elevation: {{sampling_point.ELEVATION}}                           ");
                        marker.on('mouseover', function (e) {
                              this.openPopup();
                          });
                        markers.push(marker);
                     }
                     else if ('{{sampling_point.COORDINATE_SYSTEM}}'=="ed50 utm 32"|| '{{sampling_point.COORDINATE_SYSTEM}}'.toLowerCase().includes("ed50") && '{{sampling_point.COORDINATE_SYSTEM}}'.toLowerCase().includes("utm")) {
                        var ED50utm= "+proj=utm +zone=32 +ellps=intl +towgs84=-87,-98,-121,0,0,0,0 +units=m +no_defs "
                        var gps = "+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs";
                        var test =proj4(ED50utm,gps,[{{sampling_point.LONGITUDE}},{{sampling_point.LATITUDE}}]);
                        var marker = L.marker([test[1],test[0]]);
                        marker.bindPopup("Name: {{sampling_point.NAME}} ({{sampling_point.ABBREVIATION}})<br>Longitude: {{sampling_point.LONGITUDE}} <br>                        Latitude: {{sampling_point.LATITUDE}}<br>Elevation: {{sampling_point.ELEVATION}}                           ");
                        marker.on('mouseover', function (e) {
                              this.openPopup();
                          });
                        markers.push(marker);
                     }
                      else if ('{{sampling_point.COORDINATE_SYSTEM}}'=="wgs84 utm 32"|| '{{sampling_point.COORDINATE_SYSTEM}}'.toLowerCase().includes("wgs84") && '{{sampling_point.COORDINATE_SYSTEM}}'.toLowerCase().includes("utm")) {
                        var wgs84utm= "+proj=utm +zone=32 +datum=WGS84 +units=m +no_defs  "
                        var gps = "+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs";
                        var test =proj4(wgs84utm,gps,[{{sampling_point.LONGITUDE}},{{sampling_point.LATITUDE}}]);
                        var marker = L.marker([test[1],test[0]]);
                        marker.bindPopup("Name: {{sampling_point.NAME}} ({{sampling_point.ABBREVIATION}})<br>Longitude: {{sampling_point.LONGITUDE}} <br>                        Latitude: {{sampling_point.LATITUDE}}<br>Elevation: {{sampling_point.ELEVATION}}                           ");
                        marker.on('mouseover', function (e) {
                              this.openPopup();
                          });
                        markers.push(marker);
                     }
                      else if ('{{sampling_point.COORDINATE_SYSTEM}}'=="wgs84 greenwich"|| '{{sampling_point.COORDINATE_SYSTEM}}'.toLowerCase().includes("wgs84") && '{{sampling_point.COORDINATE_SYSTEM}}'.toLowerCase().includes("greenwich")) {
                        
                        var marker = L.marker([{{sampling_point.LATITUDE}},{{sampling_point.LONGITUDE}}]);
                        marker.bindPopup("Name: {{sampling_point.NAME}} ({{sampling_point.ABBREVIATION}})<br>Longitude: {{sampling_point.LONGITUDE}} <br>                        Latitude: {{sampling_point.LATITUDE}}<br>Elevation: {{sampling_point.ELEVATION}}                           ");
                        marker.on('mouseover', function (e) {
                              this.openPopup();
                          });
                        markers.push(marker);
                     }
                      else if ('{{sampling_point.COORDINATE_SYSTEM}}'=="ntf lambert 1"|| '{{sampling_point.COORDINATE_SYSTEM}}'.toLowerCase().includes("lambert") && '{{sampling_point.COORDINATE_SYSTEM}}'.toLowerCase().includes("1"))  {
                        var Lambert1= "+proj=lcc +lat_1=49.50000000000001 +lat_0=49.50000000000001 +lon_0=0 +k_0=0.999877341 +x_0=600000 +y_0=1200000 +a=6378249.2 +b=6356515 +towgs84=-168,-60,320,0,0,0,0 +pm=paris +units=m +no_defs";
                        var test =proj4(Lambert1,gps,[{{sampling_point.LONGITUDE}},{{sampling_point.LATITUDE}}]);
                        var marker = L.marker([test[1],test[0]]);
                        marker.bindPopup("Name: {{sampling_point.NAME}} ({{sampling_point.ABBREVIATION}})<br>Longitude: {{sampling_point.LONGITUDE}} <br>                        Latitude: {{sampling_point.LATITUDE}}<br>Elevation: {{sampling_point.ELEVATION}}                           ");
                        marker.on('mouseover', function (e) {
                              this.openPopup();
                          });
                        markers.push(marker);
                     }
                     </script>
                     {% endfor %}
                     <script type="text/javascript">
                        group = L.featureGroup(markers); // on met le groupe de markers dans une layer
                        group.addTo(map); // on l'ajoute a la map
                        bounds = group.getBounds(); // on obtient le bounds pour placer la vue
                        map.invalidateSize();  //Resize de la map hidden div
                        map.fitBounds(bounds); 
                     </script>
                      <table class="ui inverted  green table datatable">
                           <thead>
                              <tr>
                                 <th>Name</th>
                                 <th>Coordinate system</th>
                                 <th>Abbreviation</th>
                                 <th>Longitude</th>
                                 <th>Latitude</th>
                                 <th>Elevation</th>
                                 <th>Description</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for sampling_point in sampling_points %}
                              <tr>
                                 <td>{{sampling_point.NAME|raw}}</td>
                                 <td>{{sampling_point.COORDINATE_SYSTEM|raw}}
                                 <td>{{sampling_point.ABBREVIATION|raw}}</td>
                                 <td>{{sampling_point.LONGITUDE|raw}}</td>
                                 <td>{{sampling_point.LATITUDE|raw}}</td>
                                 <td>{{sampling_point.ELEVATION|raw}}</td>
                                 <td>{{sampling_point.DESCRIPTION|raw}}</td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                        <br>
                        {% else %}
                        <p>No data</p>
                        {%endif%}
                     </div>
                  </div>
                  <div class="ui fluid card">
                     <div class="content">
                        <div class="header">Measurements</div>
                        {% if measurements[0].NATURE != "No nature" %}
                        <table class="ui inverted  blue table datatable">
                           <thead>
                              <tr>
                                 <th>Nature</th>
                                 <th>Abbreviation</th>
                                 <th>Unit</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for measurement in measurements %}
                              <tr>
                                 <td>{{measurement.NATURE|raw}}</td>
                                 <td>{{measurement.ABBREVIATION|raw}}</td>
                                 <td>{{measurement.UNIT|raw}}</td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                        {% else %}
                        <p>No data</p>
                        {% endif %}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
     
   </div>
</div>
</div>
</div>
</div>

<div class="ui modal remove">
  <i class="close icon"></i>
  <div class="header">
  Are you sure ?
  </div>
  <div class="content">
   <h2>Remove {{doi}}</h2>
  </div>
  <div class="actions">
   <form action="remove?id={{doi}}" method="post" enctype="multipart/form-data" >
   <input type="hidden" name="csrf_name" value="{{name_CSRF}}">
   <input type="hidden" name="csrf_value" value="{{value_CSRF}}">
      

    <button type="submit" class="ui red button" >Yes</button>
    <button type=button class="ui green deny button" >No</button>
   </form>
  </div>
  </form>
</div>


<div class="ui modal doi">
  <i class="close icon"></i>
  <div class="header">
  Target url
  </div>
  <div class="content">
   <a href="https://doi.org/{{doi}}">https://doi.org/{{doi}}</a>
  </div>
  <div class="actions">
    <button class="ui deny button" >Close</button>
  </div>
  </form>
</div>


<script type="text/javascript">
     $('.table.datatable').DataTable( {
      "lengthMenu": [[5, 25, 50, -1], [5, 25, 50, "All"]],
      "pageLength": 5, "order": [[ 2, "desc" ]],
        "pagingType": "numbers",
         responsive: true,

    } );
     $( document ).ready(function() {
          $('.pagination.menu').show();
          });

</script>
{% include 'contact_author.html.twig' %}
{% include 'footer.html.twig' %}