{% include 'head.html.twig' %}
<div class="ui internally celled grid">
   <div class="row">
    <div class="ui six wide column ">
         <div class="row">
            <div class="ui fluid card">
               <div class="row"></div>
               <div class=" ui horizontal divider header"> <i class="tag icon"></i>About this dataset</div>
               <div class="content">
               <div class="ui grey label right floated "  data-tooltip="Last modification of metadata">{{metadatadate}}</div>

                  {%if institutions %}
                  <h3 class="ui  header">Institutions:</h3>
                  <ul>
                     {%for field in institutions%}
                     <li>{{field.NAME}}</li>
                     {%endfor%}
                  </ul>
                  {%endif%}
                   {%if fundings %}
                  <h3 class="ui  header">Fundings:</h3>
                  <ul>
                     {%for field in fundings%}
                     <li>{{field.NAME}}</li>
                     {%endfor%}
                  </ul>
                  {%endif%}
                  {%if scientific_field %}
                  <h3 class="ui header">Scientific fields:</h3>
                  <ul>
                     {%for field in scientific_field%}
                     <li>{{field.NAME}}</li>
                     {%endfor%}
                  </ul>
                  {%endif%}
                  {%if keywords%}
                  <h3 class="ui header">Keywords:</h3>
                  <ul>
                     {%for keyword in keywords%}
                     <li>{{keyword.NAME}}</li>
                     {%endfor%}
                  </ul>
                  {%endif%}
                  {%if language %}
                  <h3 class="ui  header">Language:</h3>
                  <span>{{language}}</span>
                  {%endif%}
                  {%if sample_kinds %}
                  <h3 class="ui header">Sample kind:</h3>
                  <ul>
                     {%for sample_kind in sample_kinds%}
                     <li>{{sample_kind.NAME}}</li>
                     {%endfor%}
                  </ul>
                  {%endif%}
                  {%if sampling_date%}
                  <h3 class="ui header">Sampling date:</h3>
                  <ul>
                     {%for sample in sampling_date%}
                     <li>{{sample}}</li>
                     {%endfor%}
                  </ul>
                  {%endif%}
                  {% if license == "Creative commons Attribution alone" %}
                  <h3 class="ui  header">License:</h3>
                  <img class='ui tiny floated left image' alt="ccby" src='img/license/ccby.png'> <span>{{license}}  </span>
                  {%endif%}
                  {% if license == "Creative commons Attribution + ShareAlike" %}
                  <h3 class="ui  header">License:</h3>
                  <span>{{license}}  <img class='ui tiny floated left  image' alt="ccby-sa" src='img/license/ccby-sa.png'></span>
                  {%endif%}
                  {% if license == "Creative commons Attribution + Noncommercial" %}
                  <h3 class="ui  header">License:</h3>
                  <span>{{license}}  <img class='ui tiny floated left  image' alt="ccby-nc" src='img/license/ccby-nc.png'></span>
                  {%endif%}
                  {% if license == "Creative commons Attribution + NoDerivatives" %}
                  <h3 class="ui  header">License:</h3>
                  <span>{{license}}  <img class='ui tiny floated left image' alt="ccby-nd" src='img/license/ccby-nd.png'></span>
                  {%endif%}
                  {% if license == "Creative commons Attribution + Noncommercial + ShareAlike" %}
                  <h3 class="ui  header">License:</h3>
                  <span>{{license}}  <img class='ui tiny floated left image' alt="ccby-nc-sa" src='img/license/ccby-nc-sa.png'></span>
                  {%endif%}
                  {% if license == "Creative commons Attribution + Noncommercial + NoDerivatives" %}
                  <h3 class="ui  header">License:</h3>
                  <span>{{license}}  <img class='ui tiny floated left image' alt="ccby-nc-nd" src='img/license/ccby-nc-nd.png'></span>
                  {%endif%}
               </div>
            </div>
            <div class="ui modal preview">
               <i class="close icon"></i>
               <div class="header">
                  Preview
               </div>
               <div id="preview" >
               </div>
               <div class="actions">
                  <div class="ui black deny button">
                     Close
                  </div>
               </div>
            </div>
            <div class="ui fluid card">
               <div class="content">
                  <div class="header">Export</div>
                  <div class="ui grid">
                     <div class="row"></div>
                     <a href="export/datacite?id={{doi}}" target="_blank"  ><div class="ui button">DataCite</div></a>
                      <a href="export/json?id={{doi}}" target="_blank"  ><div class="ui button">JSON</div></a>
                      <a href="export/dublincore?id={{doi}}" target="_blank"  ><div class="ui button">DublinCore</div></a>
                      <a href="export/bibtex?id={{doi}}" target="_blank"  ><div class="ui button">BibTeX</div></a>
                      <div class="row"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="ui ten wide column ">
         <div>
            <h1>{{title|raw}}</h1>
            <div class="content">
               {% if accessright == "Closed" %}
               <div class="ui red label" >{{accessright}}</div>
               {% elseif accessright == "Embargoed" %}
               <div class="ui orange label" data-tooltip="Available as Open Access after {{publicationdate}}">{{accessright}}</div>
               {% elseif accessright == "Open" %}
               <div class="ui green label" >{{accessright}}</div>
               {% elseif accessright == "Unpublished" %}
               <div class="ui grey label" >{{accessright}}</div>
               {% endif %}
               <div class="ui blue label"  data-tooltip="Creation Date">{{creationdate}}</div>
               <div class="ui labeled right floated mini button" >
                  <div class="ui grey mini button">
                     <i class="barcode icon"></i> DOI
                  </div>
                  <a onclick=" $('.ui.modal.doi').modal('show');" class="ui basic orange label">
                  {{doi}}
                  </a>
               </div>
               <div class="row">
                  <div class="meta">
                     <h4>Description:</h4>
                     <span class="data">{{datadescription|raw}}</span>
                  </div>
                  <div class="row"></div>
                  <h4><i class="user icon"></i>Authors:</h4>
                  <ul id="authors">
                     {% for author in authors %}
                     <li><a onclick="APP.modules.send_email.send_email('{{doi}}','{{author.NAME}}','{{ author.FIRST_NAME}}')">{{author.NAME}} {{ author.FIRST_NAME}}</a></li>
                     {% endfor %}
                  </ul>
                  {%for author in authors%}
                  {% if (author.MAIL == mail and admin!=1) %}
                  {% if (accessright == "Unpublished") %}
                  <a onclick=" $('.ui.modal.remove').modal('show');">
                     <div class="ui right floated red button" >Remove  <i class="remove icon"></i></div>
                  </a>
                  {% endif %}
                  <a href="editrecord?id={{doi}}">
                     <div class="ui right floated primary button" >Edit<i class="right chevron icon"></i></div>
                  </a>
                  {%endif%}
                  {%endfor%}
                  {% if (admin==1) %}
                  <a onclick=" $('.ui.modal.remove').modal('show');">
                     <div class="ui right floated red button" >Remove  <i class="remove icon"></i></div>
                  </a>
                  <a href="editrecord?id={{doi}}">
                     <div class="ui right floated primary button" >Edit<i class="right chevron icon"></i></div>
                  </a>
                  {%endif%}
                  <p>Uploaded on {{uploaddate}}</p>
               </div>
               <div class="ui container cards">
                  <div class="ui fluid card">
                     <div class="content files">
                        <div class="header "> <i class="file icon"></i>Files</div>
                        {% if accessright == "Closed" or accessright == "Unpublished" %}
                        {% if files == NULL %}
                        <div class="ui red message">Data are not available</div>
                        {% else %}
                        <div class="ui list">
                           {% for filename in files %}
                           <div class="item">
                              <div class="content">
                                 <i class="file icon"></i>
                                 <a href="files/{{id}}/{{filename.DATA_URL}}">{{filename.DATA_URL}}</a><a href="files/{{id}}/{{filename.DATA_URL}}"><input value="Download" type="button" class="ui right floated button" ></a><input value="Preview" onclick="APP.modules.preview.previewdocument('preview/{{id}}/{{filename.DATA_URL}}')" type="button" class="ui right floated button" >
                              </div>
                           </div>
                           {% endfor %}
                        </div>
                        {% endif %}
                        {% elseif accessright == "Embargoed" %}
                        {% if files == NULL %}
                        <div class="ui red message">Data are not available</div>
                        {% else %}
                        <div class="ui list">
                           {% for filename in files %}
                           <div class="item">
                              <div class="content">
                              <i class="file icon"></i>
                                 <a href="files/{{id}}/{{filename.DATA_URL}}">{{filename.DATA_URL}}</a><a href="files/{{id}}/{{filename.DATA_URL}}"><input value="Download" type="button" class="ui right floated button" ></a><input value="Preview"onclick="APP.modules.preview.previewdocument('preview/{{id}}/{{filename.DATA_URL}}')" type="button" class="ui right floated button" >
                              </div>
                           </div>
                           {% endfor %}
                        </div>
                        {% endif %}     
                        {% elseif accessright == "Open" %}
                        <div class="ui list">
                           {% for filename in files %}
                           <div class="item">
                              <div class="content">
                              <i class="file icon"></i>
                                 <a href="files/{{id}}/{{filename.DATA_URL}}">{{filename.DATA_URL}}</a><a href="files/{{id}}/{{filename.DATA_URL}}"><input value="Download" type="button" class="ui right floated button" ></a><input value="Preview" onclick="APP.modules.preview.previewdocument('preview/{{id}}/{{filename.DATA_URL}}')" type="button" class="ui right floated button" >
                              </div>
                           </div>
                           {% endfor %}
                        </div>
                        {% endif %}
                     </div>
                  </div>
                  <div class="ui fluid card">
                     <div class="content">
                        <div class="header">Sampling points</div>
                        {% if sampling_points %}
                        <table class="ui inverted green table">
                           <thead>
                              <tr>
                                 <th>Name</th>
                                 <th>Coordinate system</th>
                                 <th>Abbreviation</th>
                                 <th>Longitude</th>
                                 <th>Latitude</th>
                                 <th>Elevation</th>
                                 <th>Description</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for sampling_point in sampling_points %}
                              <tr>
                                 <td>{{sampling_point.NAME}}</td>
                                 <td>{{sampling_point.COORDINATE_SYSTEM}}
                                 <td>{{sampling_point.ABBREVIATION}}</td>
                                 <td>{{sampling_point.LONGITUDE}}</td>
                                 <td>{{sampling_point.LATITUDE}}</td>
                                 <td>{{sampling_point.ELEVATION}}</td>
                                 <td>{{sampling_point.DESCRIPTION}}</td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                        {% else %}
                        <p>No data to show </p>
                        {%endif%}
                     </div>
                  </div>
                  <div class="ui fluid card">
                     <div class="content">
                        <div class="header">Measurements</div>
                        {% if measurements %}
                        <table class="ui inverted blue table">
                           <thead>
                              <tr>
                                 <th>Nature</th>
                                 <th>Abbreviation</th>
                                 <th>Unit</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for measurement in measurements %}
                              <tr>
                                 <td>{{measurement.NATURE}}</td>
                                 <td>{{measurement.ABBREVIATION}}</td>
                                 <td>{{measurement.UNIT}}</td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                        {% else %}
                        <p>No data to show </p>
                        {% endif %}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
     
   </div>
</div>
</div>
</div>
</div>

<div class="ui modal remove">
  <i class="close icon"></i>
  <div class="header">
  Are you sure ?
  </div>
  <div class="content">
   <h2>Remove {{doi}}</h2>
  </div>
  <div class="actions">
   <form action="remove?id={{doi}}" method="post" enctype="multipart/form-data" >
   <input type="hidden" name="csrf_name" value="{{name_CSRF}}">
   <input type="hidden" name="csrf_value" value="{{value_CSRF}}">
      

    <button type="submit" class="ui red button" >Yes</button>
    <button type=button class="ui green deny button" >No</button>
   </form>
  </div>
  </form>
</div>


<div class="ui modal doi">
  <i class="close icon"></i>
  <div class="header">
  Target url
  </div>
  <div class="content">
   <a href="https://doi.org/{{doi}}">https://doi.org/{{doi}}</a>
  </div>
  <div class="actions">
    <button class="ui deny button" >Close</button>
  </div>
  </form>
</div>


<script type="text/javascript">
     $('.table').DataTable( {
      "lengthMenu": [[5, 25, 50, -1], [5, 25, 50, "All"]],
      "pageLength": 5, "order": [[ 2, "desc" ]],
        "pagingType": "numbers",
                  responsive: true,

    } );
</script>
{% include 'contact_author.html.twig' %}
{% include 'footer.html.twig' %}