{% include 'head.html.twig' %}


<div class="ui internally celled grid">
  <div class="row">
  <div class="ui ten wide column ">
  <h1> {{title}}</h1>
    <div class="content">
            {% if accessright == "Closed" %}
              <div class="ui red label" >{{accessright}}</div>
            {% elseif accessright == "Embargoed" %}
              <div class="ui red label" data-tooltip="Available as Open Access after {{publicationdate}}">{{accessright}}</div>
            {% elseif accessright == "Open" %}
              <div class="ui green label" >{{accessright}}</div>
            {% elseif accessright == "Unpublished" %}
              <div class="ui red label" >{{accessright}}</div>
            {% endif %}
          


            <div class="ui blue label">{{creationdate}}</div>
             <div class="ui blue label">DOI : {{doi}}</div>
          
            <div class="row">
            
          <div class="meta"><h4>Description:</h4>
          <span class="data">{{datadescription}}</span>
          </div><div class="row"></div><h4><i class="user icon"></i>Authors:</h4>

      <ul>
          {% for author in authors %}
              <li><a onclick="APP.modules.send_email.send_email('{{doi}}','{{author.NAME}}','{{ author.FIRST_NAME}}')">{{author.NAME}} {{ author.FIRST_NAME}}</a></li>
          {% endfor %}
      </ul>
  {% if accessright == "Unpublished" %}
    <a href="remove/{{doi}}"><div class="ui right floated primary button" >Remove<i class="remove icon"></i></div></a>
  {% endif %}
  <a href="editrecord?id={{doi}}"><div class="ui right floated primary button" >Edit<i class="right chevron icon"></i></div></a>
  <p>Uploaded on {{uploaddate}}</p>
  


<div class="ui container cards">
  <div class="ui fluid card"> 
    <div class="content files">
      <div class="header ">Files</div>
      {% if accessright == "Closed" or accessright == "Unpublished" %}
        {% if files == NULL %}
         <div class="ui red message">Data are not available</div>
         {% else %}
          <div class="ui list">
       {% for filename in files %}
          <div class="item">
            <i class="file icon"></i>
            <div class="content">
              <div class="header"><a href="files/{{doi}}/{{filename.DATA_URL}}">{{filename.DATA_URL}}</a><a href="files/{{doi}}/{{filename.DATA_URL}}"><input value="Download" type="button" class="ui button" ></input></a><input value="Preview" onclick="APP.modules.preview.previewdocument('preview/{{doi}}/{{filename.DATA_URL}}')" type="button" class="ui button" ></input></div>
            </div>
          </div>
      {% endfor %}
      </div>
        {% endif %}
      {% elseif accessright == "Embargoed" %}
        {% if files == NULL %}
         <div class="ui red message">Data are not available</div>
         {% else %}
          <div class="ui list">
       {% for filename in files %}
          <div class="item">
            <i class="file icon"></i>
            <div class="content">
            <div class="header"><a href="files/{{doi}}/{{filename.DATA_URL}}">{{filename.DATA_URL}}</a><a href="files/{{doi}}/{{filename.DATA_URL}}"><input value="Download" type="button" class="ui button" ></input></a><input value="Preview"onclick="APP.modules.preview.previewdocument('preview/{{doi}}/{{filename.DATA_URL}}')" type="button" class="ui button" ></input></div>            
            </div>
          </div>
      {% endfor %}
      </div>
        {% endif %}     
      {% elseif accessright == "Open" %}
      <div class="ui list">
       {% for filename in files %}
          <div class="item">
            <i class="file icon"></i>
            <div class="content">
              <div class="header"><a href="files/{{doi}}/{{filename.DATA_URL}}">{{filename.DATA_URL}}</a><a href="files/{{doi}}/{{filename.DATA_URL}}"><input value="Download" type="button" class="ui button" ></input></a><input value="Preview" onclick="APP.modules.preview.previewdocument('preview/{{doi}}/{{filename.DATA_URL}}')" type="button" class="ui button" ></input></div>
            </div>
          </div>
      {% endfor %}
      </div>
      {% endif %}
 
      </div>
    </div>
  

<div class="ui fluid card">
    <div class="content">
      <div class="header">Stations</div>
      <table class="ui inverted green table">
      <thead>
      <tr><th>Name</th>
      <th>Abbreviation</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Elevation</th>
      <th>Description</th>
    </tr></thead><tbody>
      {% for station in stations %}
      <tr>
      <td>{{station.NAME}}</td>
      <td>{{station.ABBREVIATION}}</td>
      <td>{{station.LONGITUDE}}</td>
      <td>{{station.LATITUDE}}</td>
      <td>{{station.ELEVATION}}</td>
      <td>{{station.DESCRIPTION}}</td>
      </tr>
      {% endfor %}
      </tr>
      </tbody>
      </table>
      </div>
    </div>


    <div class="ui fluid card">
    <div class="content">
      <div class="header">Measurements</div>
      <table class="ui inverted blue table">
      <thead>
      <tr><th>Nature</th>
      <th>Abbreviation</th>
      <th>Unit</th>
      </tr></thead><tbody>
      {% for measurement in measurements %}
      <tr>
      <td>{{measurement.NATURE}}</td>
      <td>{{measurement.ABBREVIATION}}</td>
      <td>{{measurement.UNIT}}</td>
      </tr>
      {% endfor %}
      </tr>
      </tbody>
      </table>
      </div>
    </div>
</div>
</div>
</div>
</div>

    <div class="ui six wide column ">
    <div class="row">
      <div class="ui fluid card">
        <div class="content">
          <div class="header">Export</div>
          </div>
        </div>
         <div class="ui fluid card">
        <div class="content">
          <div class="header" >Preview</div>
          <div id="preview">
        
            
          </div>

          </div>
        </div>

        </div>
      </div>

  </div>
</div>
    </div>
    </div>
    

</div>
 

{% include 'contact_author.html.twig' %}
{% include 'footer.html.twig' %}

      
